---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: grafana-tls
  namespace: monitoring
spec:
  secretName: grafana-tls
  issuerRef:
    name: letsencrypt-cloudflare-issuer
    kind: ClusterIssuer
  dnsNames:
  - "grafana.p.i.psilva.org"
