apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfs-client-test-pvc
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs-client
  resources:
    requests:
      storage: 1Gi


